html{
  background-color:  #ecf2f5;
}
body{
	display: block;
	font-family: "Proxima Nova Regular", sans-serif;
	position: relative;
	background: #ecf2f5;
	padding-top: 55px;
}
body.top100{
	padding-top: 100px;
}
body.top70{
	padding-top:70px;
}
body.top72{
	padding-top:72px;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Proxima Nova Semibold",sans-serif;  
}
h1.light,h2.light,h3.light,h4.light,h5.light,h6.light{
  font-family: "Proxima Nova Light",sans-serif;
}
a {
    color: #ff6300;
    cursor: pointer;
    text-decoration: none;
}
.pabsolute{
	position: absolute;
}
.prelative{
	position: relative;
}
.tg-navbar{
	display: block;
	width: 100%;
	position: fixed;
	z-index: 5000;
	left: 0;
	top: 0;
	padding: 10px 0;
	border-bottom: 1px solid #ededed;
}
.tg-navbar.has-shadow {
    -webkit-box-shadow: none;
    box-shadow: none;    
}
.tg-navbar.has-shadow:hover {
	border:none;
    -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1);
    box-shadow: 0 2px 3px rgba(10,10,10,.1);
}
.tico{
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 3px;
}
.navbar-item .span-i{
	display:inline;
	background: #ff6300;
	color: #fff;
	font-size: 10px;
	 font-family: "Proxima Nova Light",sans-serif;  
	line-height: 1;
	margin-top: -3px;
  margin-left:4px;
	padding: 2px 6px;
	border-radius: 100px;
}
.icon-home{
	background-image: url('../images/home.png');
	background-size: 11px;
	margin-top: -2px;
}
.icon-bell{
	background-image: url('../images/bell.png');
	background-size: 11px;
	margin-top: -2px;
}
.icon-msg{
	background-image: url('../images/msg.png');
	background-size: 13px;
	margin-right: 4px;
	margin-top: -1px;
}

.tg-navbar .navbar-brand img{
	max-height: 50px;
}

.tg-navbar .navbar-item{
	font-size: 14px;
	font-family: "Proxima Nova Semibold",sans-serif;  
	line-height: 18px;
}
.tg-navbar .navbar-item:hover{
	background: transparent;
}
.tg-navbar .navbar-item img{
	max-height: 3rem !important;
}

.tg-input{
	font-family: "Proxima Nova Semibold",sans-serif;  
	border-radius: 0px;
	box-shadow: none;
	border: 2px solid #eee;
	font-size: 14px;
	line-height: 1;
}
.tg-search{
	height: 36px;
	width: 220px;
	padding: 0px 40px 0 15px;
	background: url('../images/search.png') no-repeat 93% center transparent;
}
.input.tg-input.is-active, .input.tg-input.is-focused, .input.tg-input:active, .input.tg-input:focus, .textarea.tg-input.is-active, .textarea.tg-input.is-focused, .textarea.tg-input:active, .textarea.tg-input:focus {
    border-color: #ff6300;
}
.tg-navbar .avatarPic {
	width: 36px;
	height: 36px;
	cursor: pointer;
}
.tg-navbar .avatarPic img{
	display: block;
	width: 100%;
	height: 100%;
	max-height: 36px;
	border-radius: 100%;
	overflow: hidden;
}
.tg-navbar .dropdown-content{
	padding: 0;
}
.tg-navbar .dropdown-menu{
	min-width: 8rem;
}
.tg-navbar .dropdown-content .dropdown-item:not(:last-of-type){
	border-bottom: 1px solid #eee;
}
.tg-navbar .field.is-grouped > .control:not(:last-child) {
    margin-bottom: 0;
    margin-right: 20px;
}
.tg-navbar .field.is-grouped
{
	margin-top: 8px;
}
.is-primary,.tg-button,.button.is-primary{
	background-color: #ff6300;
	border-radius: 7px;
	height: auto !important;
	font-size: 14px;
	font-weight: 400 !important;
	padding: 5px 20px;
}
.tg-navbar .is-primary{
	height: 2.25em !important;
	margin-top: 2px;
}
.tg-search-results{
	display: block;
	position: absolute;
	background: #fff;
	width: 100%;
	margin-top: 4px;
	border: 1px solid #eee;
	border-radius: 2px;
	padding: 10px;
}
.status-box .tg-search-results{
	margin: 0;
	width: 93.5%;
	padding: 0;
	display: none;
}
.status-box .tg-search-results.active{
	display: block;
}
.search-result{
	display: block;
	width: 100%;
	z-index: 999;
}
.status-box .search-result{
	padding-left: 1.9em;
	display: block;
	width: 100%;
}
.image.rounded{
	border-radius: 100%;
	overflow: hidden;
}
.tg-widget{
	
}
.tg-widget .card-header-title{
	font-family: "Proxima Nova Semibold",sans-serif;  
	padding: 20px 0 15px;
	font-size: 16px;
	padding-left: 1.5rem;
	margin-bottom: 0;
}
.tg-widget .card-header-icon{
	font-family: "Proxima Nova Regular",sans-serif;  
	padding: 20px 0 15px;
	font-size: 13px;
	color: #ff6300;
	padding-right: 1.5rem;
}
.tg-widget .card-content{
	padding-top: 10px;
}
.people-near{
	
}
.people-near .media {
	
}
.people-near .media-content{
	
}
.people-near .title {
	padding-bottom: 5px;
}
.people-near .title a{
	color: #555;
	font-family:  "Proxima Nova Light",sans-serif;  
	font-size: 16px;
	line-height: 1;
}
.people-near .subtitle .f-btn{
	display: block;
	font-size: 12px;
	line-height: 1;
	padding: 3px 10px;
}
.people-near .media button{
	border: 2px solid #ff6300;
	border-radius: 4px;
	background: #fff;
	color: #444;
	font-size:12px;
	font-family: "Proxima Nova Regular",sans-serif;  
	border-radius: 2px;
	border:2px solid #ff6300;
	cursor: pointer;
	transition: ease all 0.2s;
}
.people-near .media button:hover,.people-near .media button.following-btn{
	background: #ff6300;
	color: #fff;
}
ul.trends-list{
	list-style: none;
	margin: 0px;
	font-family: "Proxima Nova Semibold",sans-serif;  
}
ul.trends-list li {
	padding: 0 0 5px;
}
ul.trends-list li a{ color: #ff6300; }

.timeline-item {
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
    min-height: 200px;
}
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 220px;
    position: relative;
}
.background-masker {
    background: #fff;
    position: absolute;
}

/* Every thing below this is just positioning */

.background-masker.header-top,
.background-masker.header-bottom,
.background-masker.subheader-bottom {
    top: 0;
    left: 60px;
    right: 0;
    height: 8px;
}

.background-masker.header-left,
.background-masker.subheader-left,
.background-masker.header-right,
.background-masker.subheader-right {
    top: 6px;
    left: 60px;
    height: 12px;
    width: 10px;
}

.background-masker.header-bottom {
    top: 18px;
    height: 4px;
}

.background-masker.subheader-left,
.background-masker.subheader-right {
    top: 22px;
    height: 10px;
}


.background-masker.header-right,
.background-masker.subheader-right {
    width: auto;
    left: 290px;
    right: 0;
}

.background-masker.subheader-right {
    left: 200px;
}

.background-masker.subheader-bottom {
    top: 32px;
    height: 30px;
}

.background-masker.content-top,
.background-masker.content-second-line,
.background-masker.content-third-line,
.background-masker.content-second-end,
.background-masker.content-third-end,
.background-masker.content-first-end {
    top: 60px;
    left: 0;
    right: 0;
    height: 6px;
}

.background-masker.content-top {
    height: 8px;
}
.background-masker.content-top:last-child {
    top: 96px;
    height: 20px;
}
.background-masker.content-first-end,
.background-masker.content-second-end,
.background-masker.content-third-end{
    width: auto;
    left: 380px;
    right: 0;
    top: 60px;
    height: 8px;
}

.background-masker.content-second-line  {
    top: 68px;
}

.background-masker.content-second-end {
    left: 420px;
    top: 74px;
}

.background-masker.content-third-line {
    top: 82px;
}

.background-masker.content-third-end {
    left: 300px;
    top: 88px;
}
.tg-tweet-post .card{
	border-radius:3px;
}

.loader-box {
    margin-top: 1.5rem;
}

.status-box{
	background: #f6f7f9;
}
.status-box textarea{
	border-color: #ddd;
	background: transparent;
	width: 100%;
	height: 50px;
	padding: 10px;
	font-family: 'Proxima Nova Regular',sans-serif;
	resize: none;
	transition:ease height 0.2s;
}
.status-box textarea::-webkit-resizer,
.popup-tweet-wrap textarea::-webkit-resizer {
    display: none;
}
.status-box textarea:focus{
    border:2px solid rgba(255, 99, 0, 0.8);
}
.status-box .file-cta,
.popup-tweet-wrap .file-cta{
  border: 0px;
	padding: 0 5px 0 0;
  background: transparent;
	font-size: 12px;
	cursor: pointer;
}
.status-box .file-cta .fa,
.popup-tweet-wrap .file-cta .fa{
	color: #ff6300;
}
.status-box .is-grouped .control:first-child .file-cta,
.popup-tweet-wrap .control:first-child .file-cta{
	padding-left: 5px;
}
/*.popup-tweet-wrap .file-cta{
	padding: 0 5px;
	border: 0;
	background: transparent;
}*/
.status-box .file-cta:hover,.popup-tweet-wrap .file-cta:hover{
	background: transparent;
}
.status-box #count,.popup-tweet-wrap #count{display: none;}
.status-box .file{
	float: left;
}
.status-box input[type="submit"],.popup-tweet-wrap input[type="submit"]{
	float: right;
	border: 0;
	background: #ff6300;
	border-radius: 5px;
	padding: 7px 15px;
	color: #fff;
	font-family: 'Proxima Nova Semibold';
	text-transform: uppercase;
	cursor: pointer;
	font-size: 12px;
}
.popup-tweet-wrap input[type="submit"]{
	margin: 0;
	margin-top: 10px;
}
.popup-tweet-wrap textarea.textarea{
	display: block;
	width: 100%;
	height: 70px;
	border: 2px solid #eee;
	box-shadow: none;
	border-radius: 0px;
	margin: 0 0 15px;
}
.status-box .control,.status-box .field,.popup-tweet-wrap .field,.popup-tweet-wrap .control{

}
.status-box .at,.status-box .linkField,
.popup-tweet-wrap .at,.popup-tweet-wrap .linkField{
	display: none;
}
.status-box .at.active,.status-box .linkField.active,
.popup-tweet-wrap .at.active,.popup-tweet-wrap .linkField.active{
	display: block;
	position: relative;
}
.status-box .at .input,.status-box .linkField .input,
.popup-tweet-wrap .at .input,.popup-tweet-wrap .linkField .input{
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	background: rgba(0,0,0,0.01);
	font-size: 14px;
	padding-left: 2.7em;
}
.status-box .at .icon,.status-box .linkField .icon,
.popup-tweet-wrap .at .icon,.popup-tweet-wrap .linkField .icon{
	font-size: 14px;
	background: rgba(0,0,0,0.03);
	color: #bbb;
}
.status-box .at .tg-search-results  .media:first-child,
.popup-tweet-wrap .at .tg-search-results  .media:first-child{
	border-top: 0;
	padding-top: 10px;
}
.status-box .at .tg-search-results .media,
.popup-tweet-wrap .at .tg-search-results .media{
  transition: ease all 0.2s;
  padding: 10px;
  margin: 0;
}

.status-box .at .tg-search-results .media:hover,
.popup-tweet-wrap .at .tg-search-results .media:hover{
	background: rgba(0,0,0,0.01);
}
.status-box .field.is-grouped,
.popup-tweet-wrap .field.is-grouped{
	float: left;
	margin: 0;
}
.popup-tweet-wrap .file{
	display: block;
	max-width: 100px;
	float: left;
}
.tg-tweet-post .card-header-title .title a{
	color: #444;
	font-size: 20px;
	font-family: 'Proxima Nova Light',sans-serif;
}
.tg-tweet-post .card-header-title .subtitle{
	font-size: 14px;
	padding-top: 2px;
}
.tg-tweet-post .card-header-icon{
	color: #aaa;
}
.tg-tweet-post .t-show-popup{
	padding-bottom: 5px;
}
.tg-tweet-post .content{
	margin-bottom: 10px;
}
.tg-tweet-post .dropdown-menu{
	min-width: 106px;
	margin-top: -10px;
	left: 5px;
}
.tg-tweet-post .dropdown-content{
	
	padding: 0;
}
.tg-tweet-post .dropdown-item{
	font-size: 12px;
	padding: 5px 15px;
	line-height: 1.3;
}
.wrap{
	width:100%;
	height:100%;
	display: flex;
	position: fixed;
	bottom:0;
	right:0;
	z-index:10001;
	background: rgba(0, 0, 0, 0.76);
	justify-content: center;
	align-items: center;
}

.popup-tweet-wrap input[type="checkbox"]{
	display:none;
}
.popup-tweet-wrap input[type="checkbox"]:checked ~ .wrap{
	display: block;
	background: rgba(0, 0, 0, 0.76);
}

.popwrap-inner{
	margin: 0px auto;
	width: 50%;
	height: auto;
	position: fixed;
	max-height: 500px;
	overflow-y:auto;
}

.cover-block{
	position: relative;
	display: block;
	width: 100%;
	padding-bottom: 70px;
	background: #fff;
	margin-bottom: 30px;
}
.cover-block .cover{
	display: block;
	height: 300px;
}
.cover-block .cover .cimage{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.cover-menu{
	position: absolute;
	width: 100%;
	bottom: 0;
}
.profile-dp{
	position: relative;
	max-width: 250px;
	width: 250px;
	height: 250px;
	border-radius: 100%;
	overflow: hidden;
	border:4px solid #fff;
}
.profile-menu{
    position: absolute;
    top: 210px;
    height: 50px;
    width: 100%;
}
.profile-menu .field.is-grouped > .control:not(:last-child) {
    margin-right: 35px;
}
.people-card .profile-menu .field.is-grouped > .control:not(:last-child),.people-card .profile-menu .field.is-grouped > .control.no-margin {
    margin-right: 0px;
}
/*.profile-menu .field.is-grouped > .control:not(:first-child) {
    padding-top: 3px;
}*/
.profile-menu .field.is-grouped > .control:first-child .title{
    font-size: 22px;
}
.profile-menu .field.is-grouped > .control:not(:first-child) .title{
    padding-top: 3px;
    font-family: "Proxima Nova Light",sans-serif;  
    font-size: 16px;
}
.cover-block .column{
	position: relative;
}
.cover-block.small {
    padding-bottom: 65px;
    margin: 0;
}
.cover-block.small .profile-dp {
    max-width: 110px;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    overflow: hidden;
    border: 4px solid #fff;
    margin: 20px;
}
.cover-block.small .cover {
    display: block;
    height: 230px;
}
.people-card .cover-block.small .cover {
    display: block;
    height: 150px;
}
.small .profile-menu {
    top: auto;
    bottom: 15px;
    padding-left: 20px;
}
.people-card .small .profile-menu {
    padding-left: 0px;
    top: 15px;
    left: 5px;
}
.small .column.dp-column {
    margin-top: -80px;
}
.cover-block.small .profile-menu .field.is-grouped > .control:first-child .title {
    font-size: 18px;
}
.people-card .card{
	padding-bottom: 15px;
}
.people-card p {
    display: block;
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
}
.tg-welcome-screen,.tg-welcome-screen .column{
	padding: 0;
}
.tg-welcome-screen .people{
	min-height: 48vh;
	background-size:100% !important; 
}
.tg-welcome-screen .welcome > .columns > .column:last-child{
	padding: 70px;
	padding-left: 100px;
	background: #fff;
	padding-top: 110px;
}
.tg-welcome-screen .header{
	display: block;
	margin: 0 0 50px;
}
.tg-welcome-screen .header .title{
	margin: 0 0 2px;
	font-size: 40px;
	font-family: "Proxima Nova Semibold",sans-serif;  
	color: #ff6300;
	letter-spacing: 1px;
	word-spacing:2px;
	line-height: 46px;
}
.tg-welcome-screen .header p{
	color: #666;
}
.tg-welcome-screen .form{
	display: block;
	width: 350px;
}
.tg-welcome-screen .form .field{
	margin: 0 0 25px;
}
.tg-welcome-screen .form input,.lined .form input{
	display: block;
	width: 100%;
	margin: 0 0 15px;
	border: 0;
	border-bottom: 2px solid #eee;
	font-family: "Proxima Nova Regular",sans-serif; 
	font-size: 14px;
	line-height: 1.5;
	padding: 5px 0;
}

.tg-welcome-screen .form label:not(.label-cbx),.lined .form label:not(.no-style) {
	display: block;
	width: 0%;
	height: 2px;
	background: #ff6300;
	position: absolute;
	content: '';
	bottom: 0;
	transition:ease all 0.5s;
}
.tg-welcome-screen .form input:focus + label,.tg-welcome-screen .form input.active + label,.tg-welcome-screen .form input.done + label,
.lined .form input:focus + label,.lined .form input.active + label,.lined .form input.done + label,
.lined .form textarea:focus + label{
	width: 100%;
}
.lined .form input {
    background: transparent;
    border-bottom: 1px solid #ddd;
    color: #aaa;
}
.lined .form input {
    background: transparent;
    border-bottom: 1px solid #ddd;
}
.lined .form input:focus {
    border-bottom: 1px solid #ddd;
    color: #444;
}
.is-relative{
	position: relative;
}
.bio-card .title + .subtitle {
    margin-top: -0.5rem;
}
.lined .textarea {
    border: 0;
    background: transparent;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
    padding: 0;
	height: 77px;
}
.label-cbx {
  user-select: none;
  cursor: pointer;
  margin-bottom: 0;
  margin-top: 15px;
}
.label-cbx input:checked + .checkbox {
  border-color: #ff6300;
}
.label-cbx input:checked + .checkbox svg path {
  fill: #ff6300;
}
.label-cbx input:checked + .checkbox svg polyline {
  stroke-dashoffset: 0;
}
.label-cbx:hover .checkbox svg path {
  stroke-dashoffset: 0;
}
.label-cbx .checkbox {
  position: relative;
  top: 2px;
  float: left;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  border: 2px solid #C8CCD4;
  border-radius: 3px;
}
.label-cbx .checkbox svg {
  position: absolute;
  top: -2px;
  left: -2px;
}
.label-cbx .checkbox svg path {
  fill: none;
  stroke: #ff6300;
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 71px;
  stroke-dashoffset: 71px;
  transition: all 0.6s ease;
}
.label-cbx:hover .checkbox svg path{
	stroke-width: 2;
}
.label-cbx .checkbox svg polyline {
  fill: none;
  stroke: #FFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all 0.3s ease;
}
.label-cbx > span {
  pointer-events: none;
  vertical-align: middle;
}

.cntr {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  text-align: center;
}

.invisible {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}

.tg-welcome-screen .is-primary{
	font-family: "Proxima Nova Semibold",sans-serif; 
	font-size: 14px;
	line-height: 1.5;
	text-transform: uppercase;
	border-radius: 0;
	padding: 5px 20px;
	margin-top: 15px;
}
.tg-welcome-screen .areyou,.tg-welcome-screen .footer-content{
	padding: 20px;
	padding-left: 150px;
}
.tg-welcome-screen .footer-content p{
	padding: 0px 10px;
	margin: 0 0 10px;
	color: #666;
}

.tg-welcome-screen .footer-content{
	margin-top: 15px;
	border-top: 1px solid #ddd;
}
.tg-welcome-screen .footer-content a{
	color: #666;
}
.tg-welcome-screen .qstn{
	display: block;
	padding: 25px 0px 25px 20px;
	margin: 0 0 25px;
}
.tg-welcome-screen .qstn .subtitle{
	padding: 15px;
	margin-left: 10px;
	font-family: "Proxima Nova Semibold",sans-serif; 
	color: #555;
}
.tg-welcome-screen .areyou .media .is-128x128{
	width: 110px;
	height:110px;
}
.tg-welcome-screen .areyou .media .media-content{
	padding: 10px 5px;
}
.tg-welcome-screen .areyou .media .title{
	font-size: 18px;
	line-height: 1.5;
	color: #555;
}
.tg-welcome-screen .areyou .media span.subtitle{
	font-size: 14px;
	color: #555;
	margin-left: 5px;
	line-height: 1;
}
.tg-welcome-screen .areyou .media p.subtitle.is-size-6{
	font-size: 14px !important;
	margin-top: 10px;
}

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: block;
	padding-left: 15px;
}

ul.tabs li{
	position: relative;
	background: none;
	font-family: "Proxima Nova Semibold",sans-serif; 
	display: inline-block;
	padding: 5px 20px;
	cursor: pointer;
	border-bottom: 2px solid transparent;
	text-transform: uppercase;
	color: #666;
}
ul.tabs li:after{
	display: block;
	width: 0%;
	height: 2px;
	background: #ff6300;
	position: absolute;
	content: '';
	bottom: -2px;
	left: 0;
	transition:ease all 0.5s;
}
ul.tabs li.current:after{
	width: 100%;
}
ul.tabs li.current{
	background: none;
	color: #222;
}

.tab-content{
	display: none;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}
.foot-menu{
  font-size: 13px;
}
.foot-menu button{
  border: 0;
  background: transparent;
  cursor: pointer;
}
.foot-menu .fbtn{
	cursor: pointer;
}
.foot-menu .icon-msg{
  margin-right: 8px;
  margin-top: 0px;
}
.foot-menu .level-left .level-item:not(:last-child), .level-right .level-item:not(:last-child) {
    margin-right: 1.3rem;
}
.foot-menu a{
  color: #444;
}

.popup-tweet-wrap,.popup-wrap-outer{
	opacity: 0;
	pointer-events: none;
	transition: ease all 0.1s;
	z-index: 99999999;
}
.popup-tweet-wrap.active,.popup-wrap-outer.active{
	opacity: 1;
	pointer-events: all;
}
.closeTweetPopup,.closePopupBtn{
	cursor: pointer;
}
.tweets .card .card-header .title.is-4 a{
	color: #ff6300;
}
.msg-list,.media-lists{
	
}
.msg-list li.media,.media-lists li.media{
	margin: 0 !important;
	padding: 15px 10px;
	cursor: pointer;
	transition: ease all 0.2s;
}
.msg-list li.media:hover,.media-lists li.media:hover{
	background: rgba(0,0,0,0.01);
}
.media-lists li.media .head{
	display: block;
	margin: 0 0 10px;
	overflow: hidden;
}
.media-lists li.media .head p{
	float: left;
	display: block;
	margin: 0 5px 0 0;
	padding: 0;
}
.media-lists li.media .head p.subtitle{
	margin-top: 2px;
}
.media-lists li.media .head span{
	float: right;
}
.media-lists li.media .main{
	display: block;
	padding: 0 0 10px;
	font-size: 14px;
}
.is-pad-10{
	padding:10px;
}
.is-pad-10-15{
	padding:10px 15px;
}
.is-pad-10-20{
	padding:10px 20px;
}
.is-pad-10-25{
	padding:10px 25px;
}
.send-new-message .tg-input{
	width: 500px;
}
.popup-wrap-close{
	position: absolute;
	right: 10px;
	top:10px;
	color: #fff;
	z-index: 1000;
}
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    width: 8em;
}

.rating input {
    position: absolute;
    left: -999999px;
}

.rating label {
    display: inline-block;
    font-size: 0;
}

.rating > label:before {
    position: relative;
    font: 20px/1 FontAwesome;
    display: block;
    content: "\f005";
    color: #ccc;
    background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > label.selected:before,
.rating > label.selected ~ label:before {
    color: #f0ad4e;
    background: -webkit-linear-gradient(-45deg, #fcb551 0%, #d69a45 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-cards{
    display: block;
    width: 100%;
    padding: 0 0 15px;
    margin-bottom: 15px;
}
.no-pad-top{
	padding-top: 0;
}
.no-bg{
	background: transparent;
}
.profile-menu.half{
	width: 50%;
}
.profile-menu.right.half{
	width: 50%;
	left: auto;
	right: 0;
}
.dp-up-label,.cover-up-label {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    border: 3px solid #ff6300;
    border-radius: 100%;
}
.cover-up-label{
	border-radius: 0;
}
.dp-up-label img,.cover-up-label img{
	opacity: 0.5;
}
.profile-dp .file-cta,.cover .file-cta {
    position: absolute;
    left: 50%;
    top: 50%;
    background: transparent;
    border: 0;
    color: #fff;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -25px;
    pointer-events: none;
}
.profile-dp .file-icon .fa ,.cover .file-icon .fa {
    font-size: 50px;
}
.column.dp-column{
	margin-top: -190px;
}
.cover-menu {
    position: absolute;
    width: 100%;
    bottom: auto;
}
.column.menu-column{
	margin-top: 12px;
}
.profile-menu {
    position: absolute;
    top: 0px;
    height: 70px;
    width: 100%;
    left: -15px;
}
.profile-menu .field .control{
	padding: 15px 5px;
	position: relative;
	cursor: pointer;
}
.small .profile-menu .field .control{
	padding:0;
	cursor: default;
}
.profile-menu .field.is-grouped .control:not(:first-child):after{
	content: '';
	position: absolute;
	height: 0px;
	width: 100%;
	bottom: 0;
	left: 0;
	background: #ff6300;
	transition: ease all 0.2s;
}
.profile-menu .field.is-grouped .control.active:not(:first-child):after{
	height: 2px;
}
.profile-menu .field .control .title{
	color: #444;
}
.profile-menu .field .control:hover .title,.profile-menu .field .control.active .title{
	color: #ff6300;
}
.bio-card {
    padding: 0 0 20px;
}
.bio-card p {
    display: block;
    font-size: 14px;
    line-height: 26px;
    word-wrap: break-word;
    word-break: inherit;
    margin: 0 0 5px;
    color: #444;
}

.bio-card .card-content p:first-child {
    margin: 0 0 15px;
}
.bio-card .icon.is-small .fa {
    color: #ff6300;
    font-size: 12px;
}
.bio-card a{
	color: #444;
}
.bio-card a:hover{
	color: #ff6300;
}
.lined .card-header-title {
    padding: 10px;
}

.opacity-10{ opacity: 0.1; }
.opacity-20{ opacity: 0.2; }
.opacity-30{ opacity: 0.3; }
.opacity-40{ opacity: 0.4; }
.opacity-50{ opacity: 0.5; }
.opacity-60{ opacity: 0.6; }
.opacity-70{ opacity: 0.7; }
.opacity-80{ opacity: 0.8; }
.opacity-90{ opacity: 0.9; }
.opacity-100{ opacity: 1; }
.inactive{ pointer-events: none; }

.padtop10{ padding-top: 10px; }
.padtop20{ padding-top: 20px; }
.padtop30{ padding-top: 30px; }
.padtop40{ padding-top: 40px; }
.padtop50{ padding-top: 50px; }
.padtop60{ padding-top: 60px; }
.padtop70{ padding-top: 70px; }
.padtop80{ padding-top: 80px; }
.padtop90{ padding-top: 90px; }
.padtop100{ padding-top: 100px; }

.wrap{
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.copyright-text p {
    padding: 0px 10px;
    margin: 0 0 10px !important;
    color: #666;
    font-size: 15px;
}
.copyright-text p a{
	color: #666;
}
.media-lists .media-item{
	padding: 0 5px !important;
	margin-bottom: 5px !important;
}

.msg-chat-wrapper{
	display: block;
	position: relative;
	z-index: 1000;
	height: 80%;
}
.msg-chat-wrapper .card-header,.msg-chat-wrapper .card-footer{
	position: relative;
	height: 50px;
}
.msg-chat-wrapper .card-header h4{
	display: block;
	width: 100%;
	text-align: center;
}
.msg-chat-wrapper .card-content{
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	height: 70%;
	height: calc( 100% - 100px );
}
.msg-chat-wrapper .card-content .convo-list{
	display: block;
	width: 100%;
	overflow: hidden;
	padding: 20px;
}
.msg-chat-wrapper .card-content .convo-list .msg {
	display: block;
	padding: 10px 0;
}
.msg-chat-wrapper .card-content .convo-list .msg.self{
	text-align: right;
}

.msg-chat-wrapper .card-content .convo-list .msg.self p{
  border-bottom-right-radius: 0px;
}
.msg-chat-wrapper .card-content .convo-list .msg.other p{
  border-bottom-left-radius: 0px;
}
.msg-chat-wrapper .card-content .convo-list .msg p{
	position: relative;
	display: inline-block;
	font-size: 14px;
	line-height: 24px;
	background: #eee;
	max-width: 75%;
	padding: 5px 10px;
	border-radius: 5px;
}
.msg-chat-wrapper .card-content .convo-list .msg p:after { 
	content: ''; 
	position: absolute; 
	right: 0; 
	bottom: 0; 
	width: 0; 
	height: 0; 
	border: 12px solid transparent; 
	border-left-color: #eee; 
	border-right: 0; 
	border-bottom: 0; 
	margin-right: -7px; 
}
.msg-chat-wrapper .card-content .convo-list .msg.other p:after { 
	right: auto; 
	left: 0;
	width: 0; 
	height: 0; 
	border: 12px solid transparent; 
	border-left:0; 
	border-right-color: #eee; 
	border-bottom: 0; 
	margin-left: -7px; 
}
.msg-chat-wrapper .card-content .convo-list .msg.self p{
	background: #ff8131;
	color: #fff;
}
.msg-chat-wrapper .card-content .convo-list .msg.self p::after{
	border-left-color:  #ff8131;
}
.msg-chat-wrapper .card-content .convo-list .msg span{
	display: block;
	font-size: 12px;
	padding: 2px 5px;
}
.msg-chat-wrapper .card-content .convo-list .day{
	display: block;
	font-size: 12px;
	text-align: center;
	padding: 0 0 15px;
}
.msg-chat-wrapper .card-content .convo-list .day p{
	display: inline-block;
	background: #efefef;
	border-radius: 5px;
	padding: 5px 15px;
	
}
.msg-chat-wrapper .card-footer{
	border-top: 1px solid #eee;
	display: block;
	padding: 10px;
}
.msg-chat-wrapper .card-footer .tg-input{
	display: block;
	float: left;
	width: 80%;
	border-width: 1px;
	border-radius: 2px;
}
.msg-chat-wrapper .card-footer .file{
	display: block;
	width: 8%;
	float: left;
	margin-top: -2px;
	margin-left: 8px;
}
.msg-chat-wrapper .card-footer .file-cta{
	background: transparent;
	border: 0px;
	padding: 0px 15px;
}
.msg-chat-wrapper .card-footer .file-cta .fa{
	font-size: 18px;
	color: #666;
}
.msg-chat-wrapper .card-footer  .button{
	display: block;
	float: right;
	font-size: 12px;
	border-radius: 2px;
	width: 10%;
}

.status-box {
    height: 88px;
    overflow: hidden;
}
.status-box input[name="tweet"]{
	display: none;
}
.status-box.focused input[name="tweet"]{
	display: block;
}
.status-box:not(.focused) .textarea[rows] {
    height: 50px;
    box-shadow: none;
    border: 1px solid #eee;
}
.status-box.focused .textarea[rows]{
	height: unset;
}
.status-box.focused{
	height: unset;
	overflow:auto;
}
.status-box .image.is-64x64 {
    height: 40px;
    width: 40px;
}

.popwrap-inner {
    overflow: visible;
}

.send-new-message .tg-input {
    width: 540px;
}

.scroll-wrapper {
    display: block;
    position: relative;
    z-index: 1000;
    height: 80%;
}
.scroll-wrapper .card-header {
    position: relative;
    height: 50px;
}
.scroll-wrapper .card-content {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 80%;
    height: calc( 100% - 50px );
}
.search-wrap, .result-wrapper .subtitle{
	display: block;
	padding: 15px 20px;
	margin:0;
}
.search-wrap .tg-input{
	margin-top: 8px;
}
.result-wrapper .result-list{
	display: block;
	margin:0;
}
.result-wrapper .result-list li{
	display: block;
	padding:8px 20px 5px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
.result-wrapper .result-list li:hover{
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.result-wrapper .result-list li .title{
	display: block;
	float: left;
	font-size: 16px;
	margin: 0;
	line-height: 1;
	padding: 8px 0;
	margin-right: 10px;
}
.result-wrapper .result-list li .subtitle{
	display: block;
	margin-top: -7px;
	font-size: 13px !important;
}
.hash-title{
	display: block;
	background: #ff6300;
	color: #fff;
}
.hash-title h1{
	display: block;
	padding: 15px 0;
	color: #fff;
}

#container { 
  display: block; 
  width: 100%; 
  background: #fff; 
  padding: 14px 20px; 
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px; 
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}


/* comments area */
#comments { display: block; }

#comments .cmmnt, ul .cmmnt, ul ul .cmmnt { display: block; position: relative; padding-left: 50px; border-top: 1px solid #eee; }
#comments > .cmmnt:first-child{
	
}
#comments .cmmnt .avatar  { position: absolute; top: 15px; left: 0; }
#comments .cmmnt .avatar img { 
  width: 36px;
	height: 36px;
}

#comments .cmmnt .avatar a:hover img { opacity: 0.77; }

#comments .cmmnt .cmmnt-content { padding: 0px 3px; padding-bottom: 15px; padding-top: 10px; }
#comments .cmmnt .cmmnt-content p{
	display: block;
	font-size: 14px;
	line-height: 26px;
	margin-bottom: 10px;
}
#comments .cmmnt .cmmnt-content header { font-size: 16px; display: block; margin-bottom: 4px; }
#comments .cmmnt .cmmnt-content header .pubdate { color: #777; font-size: 12px;}
#comments .cmmnt .cmmnt-content header .userlink { font-weight: bold; } 

#comments .cmmnt .replies { margin-bottom: 7px; }

.comment-from-wrapper{
	padding: 15px 0 15px;
	border-top: 0;
}